html, body {
    height: 100%;
}

.select2-search__field {
    width: 300px !important;
}

.error {
    color: red;
}

.question-answers {
    padding-left: 10px;
}

.question-subquestions {
    padding-left: 20px;
}
.checkbox label{
    font-weight: bold;
}

