.col-md-12.panel_content{
  max-width: 960px;
  float: none;
  margin: 0 auto;
}

.x_content{
  margin-bottom: 20px;
}

.form-horizontal .control-label{
  margin-bottom: 6px !important;
}

.post-form{
  .nav-tabs{
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -25px;
    li{
      width: 25%;
      background: #D8D8D8;
      border-right: solid 1px #C9C9C9;

      &:last-child{
        border-right: none;
      }

      a{
        padding: 25px 12px;
        text-align: center;
        color: #4a4a4a;
      }
    }
  }

  .nav-tabs>li>a{
    margin-right: 0;
    border-radius: 0;
  }

}

.post-filter-wrap {
  .form-group {
    &:not(:first-child){
      margin-top: 20px !important;
    }
  }
}