$cloud:#ecf0f1;
$midnight-blue:#2c3e50;
$white:#fff;
$black:#000;
$gray:#bbbbbb;
$light-gray:#EFEBEB;
$grey:#ddd;
$light-grey:#d8d8d8;
$dim:#555;
$green-sea:#16a085;
$darker-gray:#a7a7a7;
$blue:#4A94D4;
$dark-green:#178C75;

body, html {
    min-height: 100%;
    min-height: 100vh;
    position: relative;
}
/*.container{
    max-width: 960px;
    float: none;
    margin: 0 auto;
}*/

.navbar-form{
    margin: 12px 0;

    .add-on button[type="submit"]{
        padding: 10px 12px;
        border-radius: 4px 0 0 4px;

        i:before{
            color: #7c7c7c;
            font-size: 19px;
        }
    }

    .input-group .form-control{
        padding: 13px 12px;
        height: auto;
        border-radius: 0px 4px 4px 0;
    }
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .input-group .form-control{
        width: 280px !important;
    }
}


.parent-wrapper{
    min-height: 100%;
    width: 100%;
    background: #f0f0f0;
    clear: both;
    overflow: hidden;
}

.sidebar-wrap{
    position: fixed !important;
    left: 0;
    z-index: 88;
}

.main-sidebar,.sub-sidebar{
    max-height: 100%;
    max-height: 100vh;
    overflow: auto;
    padding: 0;
}

.mCSB_inside>.mCSB_container {
    margin-right: 10px;
}

.mCSB_scrollTools .mCSB_draggerRail{
    background-color: #333;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background: $green-sea;
}

.main-sidebar{
    min-height: 100% !important;
    min-height: 100vh !important;
    background: $light-grey;
    font-size: 12px;
    border-right: 1px solid $darker-gray;
}
.sub-sidebar{
    min-height: 100% !important;
    min-height: 100vh !important;
    // width: 17.99%;
    background: $white;
    font-size: 12px;

    .list-group-item{
        color: #a5a5a5;
        &.active{
            background: #f0f0f0 !important;
        }
    }
}

.panel_content{
    // width: 65%;
}
.list-group{
    a{
        color: $blue;
        .add-icon{
            margin-right: 3px;
        }
    }
}
a.list-group-item{
    color: $black;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.list-group-item{
    padding: 1.25em 1em !important;
    background: inherit !important;
    border: none !important;
    border-bottom: 1px solid $darker-gray !important;
    margin-bottom: 0 !important;
    &:first-child{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    &:last-child{
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    &.active {
        background: $white !important;
        color: $dim !important;
        border-bottom: 1px solid $darker-gray;
        &:hover , &:focus{
            background: $white;
            color: $dim;
            border-bottom: 1px solid $darker-gray !important;
        }
    }
}

.list-group-item{
    a{
        width: 50px;
        display: inline-block;
    }

    strong{
        width: calc(100% - 50px);
        display: inline-block;
    }
}

.x_panel{
    margin-top: 20px;
}
.x_content{
    background: $white;
    border: 1px solid #a1a1a1;
    //padding: 20px 15px 25px 30px;
    padding: 25px 20px 25px 20px;
    .button{
        border-radius: 0;
        margin-bottom: 14px;
        background: $green-sea;
        border: none;
        padding: 10px 12px;
        border-radius: 2px;
        &:hover{
            background: $dark-green;
        }
    }
}

div.table{
    background: #fff;
    border: 1px solid #a1a1a1;
    padding: 25px 20px 40px 20px;
}

.x_content .table{
    background: transparent;
    border: none;
    padding: 0;
}

.table-bordered>thead>tr>th {
    border: none;
}

.table>.table{
    margin-bottom: 0;
}

.table-bordered>thead>tr{
    border-bottom: solid 2px #ddd;
}

.table-bordered{
    border: none;
    tbody{
       tr{
           td{
               border: none;
           }

           td:not(:nth-child(1)){
               padding-top: 18px;
           }
       }
    }
}
.table{
    tbody{
    tr{
        td{
            border-top: none;
            border-bottom: 2px solid $grey;
        }
    }
    }
}
.table-button{
    background: $gray;
    color: $white;
    border-radius:10px;
    border: none;
    padding: 2px 14px;
}
.icons{
    padding: 10px;
    border-radius: 50%;
    background: $gray;
    color: $black   ;

    &:before{
        font-size: 17px;
    }
}


