/* -------- style for tab structure -------- */

.icon-wrap{
  position: relative;

  a{
    min-height: 84px;
  }


  a:before,.icons:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-right: 24px;
    width: 20px;
  }

  .icons{
    width: 36px;
    height: 36px;
    position: relative;
    display: inline-block;

    &:before{
      position: absolute;
      left: 8px;
      top: 9px;
    }
  }

  .audio{
    &:before{
      background: url(#{$img-path}/ic_sprite.svg) 0px -44px no-repeat;
      height: 18px;
    }
  }

  .video{
    &:before{
      height: 20px;
      background: url(#{$img-path}/ic_sprite.svg) 0px -83px no-repeat;
    }
  }

  .icons.video{
    &:before{
      top: 8px;
    }
  }

  .place{
    &:before{
      height: 32px;
      background: url(#{$img-path}/ic_sprite.svg) 0px -123px no-repeat;
    }
  }

  .icons.place:before{
    left: 10px;
    top: 6px;
  }

  .text{
    &:before{
      height: 24px;
      background: url(#{$img-path}/ic_sprite.svg) 0 0 no-repeat;
    }
  }

  .icons.text:before{
    top: 6px;
  }
}

.nav-tabs{
  .icons{
    border-radius: 0;
  }
}

.title-btn{
  background-color: $green-color;
  width: auto;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 8px 12px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
}

.tab-wrap{
  margin-left: 55px;
  position: relative;

  .nav-tabs{
    border-bottom: none;
  }
  .add-btn{
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: none;
    background-color: $green-color;

    &:before{
      content: "+";
      color: #fff;
      position: absolute;
      background: url(/images/ic_add-white.svg) center no-repeat;
      top: 5px;
      left: 5px;
      width: 20px;
      height: 20px;
      z-index: 88;
    }
  }

  .float-btn{
    position: absolute;
    left: -40px;
    top: 16px;
  }
}

.tab-wrap{
  .tab-content{
    padding: 0 15px;
    background: #DCDEE0;

    .green-content{
      background-color: $green-color;
      border: none;
      padding: 10px;
      border-radius: 2px;
    }

    .grey-content{
      background-color: #A7ABA9;
      padding: 10px;
      border-radius: 2px;

      .add-btn{
        background-color: #dcdee0;
        width: 20px;
        height: 20px;
        padding: 0;
        margin-left: 4px;
        &:before{
          width: 10px;
          height: 10px;
          left: 6px;
          background: url(#{$img-path}/ic_add-grey.svg) center center no-repeat;
        }
      }
    }
  }
}

.tab-wrap{
  .nav-tabs>li>a{
    background: #A7ABA9;
    color: #fff;
    border-radius: 0;
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover{
    background-color: $green-color;
    color: #fff;
  }

}

/*
style for scrollable tab panel*/
.tab-wrap {
  .wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    height: 70px;

    ul.nav-tabs{
      min-height: 70px;
      li{
        padding: 14px 0;
        margin-right: 10px;

        &.active{
          padding: 14px;
          background: #dcdee0;
        }
      }
    }
  }

  .list {
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 3000px;
    margin-left: 12px;
    margin-top: 0px;
  }

  .list li {
    display: table-cell;
    position: relative;
    text-align: center;
    cursor: grab;
    cursor: -webkit-grab;
    color: #efefef;
    vertical-align: middle;
  }

  .scroller {
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 7px;
    padding-top: 11px;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: #fff;
    margin-top: 14px;
  }

  .scroller-right {
    float: right;
  }

  .scroller-left {
    float: left;
  }
}